html,
body {
  height: 100%;
}

body {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
.card-header h4{
    text-align: center
}

.card-body .btn-group-lg{
    width: 100%;
}

.card-body .btn-group>.btn{
    width: 50%
}
#error{
    text-align: center;
    font-size: 2rem;
    animation: colorchange 2s;
    -webkit-animation: colorchange 2s infinite;
    display: none;
}
.progress{
    margin-bottom: 10px
}

@keyframes colorchange
{
  0%   {color: red;}
  50% {color: #f8d7da;}
  100%   {color: red;}
}

@-webkit-keyframes colorchange 
{
    0%   {color: red;}
    50% {color: #f8d7da;}
    100%   {color: red;}
}